:root {
  --primary: #487ABD;
  --primary-hover: #3a6399;
  --accent: #fdba12;
  --accent-light: #fcecc2;
  --border: #E1E0E2;
  --background-light: #F1F0F2;
  --background-lighter: #FAF9FB;
  --background-extra-light: #FDFCFE;
  --background-dark: #000f1a;

  --factorizer-color-surface: #212022;
  --factorizer-color-surface-light: #818082;

  --factorizer-color-brand-text-gradient-stop-1: #487ABD;
  --factorizer-color-brand-text-gradient-stop-2: #fc5800;
  --factorizer-color-brand-text-gradient-stop-3: #FCB900;

  --color-warning: #fc5800;
  --color-success: green;
  --color-info: #818082;
}
